body {
    background: black;
    color: white;
    font-size: 1.5em;
}

input, button {
    background: black;
    color: white;
    border-radius: 10px;
    margin: 0.5%;
    padding: 0.5%;
    font-size: 1em;
}

p {
    font-size: 1.5em;
}

.center {
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-top: 10%;
    border: 3px solid white;
}

.start {
    width: 60%;
    text-align: center;
    margin-left: 20%;
    border: 3px solid white;
    margin-top:3%;
}

.storyBlock {
    width: 60%;
    text-align: center;
    padding: 10px;
    margin-left: 20%;
}

.saveFiles {
    width: 10%;
    padding: 1%;
    right: 7%;
    bottom: 7%;
}

.controls {
    position: absolute;
    bottom: 3%;
    left: 1%;
}

.question{
    background: grey;
}

.choice{
    background: pink;
}